body {
  color: #e4e4e4;
  background-color: #222222;
  text-decoration-color: #f4f4f4;
}
* {
  font-family: Arial, Roboto;
}
.page {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 65px;
}
.topnavL {
  display: flex;
  align-items: center;
  justify-content: center;
}
.topnavR {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.topnav a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 23px;
  text-align: center;
  order: 2;
  margin-left: 10px;
  margin-right: 50px;
}
.topnav-brand {
  order: 1;
}
.topnav-brand img {
  width: 200px;
  margin-top: 5px;
  margin-right: 50px !important;
}
.topnav a:hover {
  color: rgb(161, 161, 161);
}
.topnav a.active {
  color: #7496f3;
}
.search input {
  float: left;
  border: #222222;
  background-color: #222222;
  color: #e4e4e4;
  outline: none;
  text-align: center;
  width: 80px;
  font-size: 20px;
}
button img {
  width: 15px;
  height: 15px;
}
.search button {
  background-color: #222222;
  box-shadow: none;
  border-color: #222222;
  border: #222222;
}

@media only screen and (max-width: 600px) {
  .topnav {
    flex-wrap: wrap;
    height: auto;
  }
  .topnav-brand img {
    width: 120px;
  }
  .topnavL {
    margin-left: 0px;
  }
  .topnavR {
    float: right;
    margin-left: 25%;
    margin-bottom: 0px;
  }
  .topnav a {
    flex-grow: 1;
    margin-left: 45px;
    font-size: 17px;
  }

  .search {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  .topnav-brand {
    margin-right: 0;
    margin-bottom: 0;
    order: 1;
    flex-grow: 1;
  }

  .topnav a.active {
    order: 2;
  }
  .search input {
    font-size: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.gridBody {
  display: grid;
  margin: 10px 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 16px;
}
.card-link {
  color: #f2f2f2;
  text-decoration: none;
}
.card-link:hover {
  text-decoration: none;
}
@media (min-width: 600px) {
  gridBody {
    display: grid;
    margin: 0px 0px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 16px;
    max-width: 100%;
    max-height: 100%;
  }
}
.gridItem {
  text-align: center;
  border: 2px dashed rgba(255, 255, 255, 0.2);
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1 / 1 !important;
  font-size: 1.2rem;
}
.gridItem img {
  aspect-ratio: 16/9;
}
.gridItem h3 {
  margin-top: 2px;
  margin-bottom: 2px;
}
.gridItem p.mainInfoCard {
  margin-top: 5px;
  margin-bottom: 10px;
}
.cardImg {
  max-width: 100%;
  max-height: 60%;
}
.gridItem p.designedBy {
  margin-bottom: 0px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button {
  position: relative;
  background-color: #7496f30e;
  border: none;
  color: #ffffff;
  width: 70px;
  height: 50px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.button:after {
  content: "";
  background: #4370f7;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.footer {
  padding: 0px 0px 30px 0px;
  background-color: #1a1a1a0c;
  height: 10px;
  font-size: 6px;
  display: flex;
  justify-content: center;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  position: relative;
  top: 20px;
}
.aboutMe img {
  border-radius: 50%;
}
.aboutMe h1 {
  margin: 3px 0px;
}
.aboutMe p {
  margin-top: 5px;
}
.aboutMe aMbuttonContainer {
  border-top: 30px;
}
.aboutMe button {
  margin-right: 10px;
  color: #e4e4e4;
  background-color: rgba(39, 101, 216, 0.053);
  border: #222222;
  box-shadow: 2px 2px 8px 3px rgba(39, 101, 216, 0.16);
}
.aMbuttonContainer {
  margin-left: 250px;
  margin-top: 10px;
  display: flex;
}
.aboutAircraft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  position: relative;
  top: 20px;
}
.aboutAircraft img {
  width: 607px;
}
@media only screen and (max-width: 600px) {
  .aboutAircraft img {
    width: 50vh;
  }
}
.footer {
  margin-top: auto;
}
/* AUTH */
body {
  font-family: Arial, Helvetica, sans-serif;
}
.account input[type="text"],
.account input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  background-color: #222222;
  color: #f2f2f2;
  border: #222222;
  outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #f2f2f2;
  box-shadow: 0 0 0 30px #222222 inset !important;
}
.element.style {
  background-color: #222222;
}
.button.firstaccbtn {
  width: 50px;
  height: 20px;
  font-size: 17px;
  text-align: center;
  padding: 15px 70px;
}
.account button {
  font-size: 23px;
  background-color: #222222;
  color: white;
  padding: 13px 35px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .account button {
    font-size: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
button:hover {
  color: rgb(161, 161, 161);
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
img.avatar {
  width: 300px;
  border-radius: 50%;
}
.container {
  padding: 16px;
}
span.psw {
  float: right;
  padding-top: 16px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #222222;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #e4e4e4;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
